body {
  background: white;
  color: white;
  text-align: center;
  font-family: monospace;
}

#trigger {
  width: 300px;
  cursor: pointer;
  border: 1px black;
}

.popup {
  position: fixed;
  width: 250px;
  z-index: 9999;
}

